@page
@model ContactModel
@{
    @* System.Console.WriteLine("Contacts Page"); *@

    ViewData["Title"] = "Contact Me page";

}



<h1>Contact me here</h1>

<div class="text-center">
    <p>
    I am excited to meet and work with you! We progress better together so please don't hesitate to contact me using the form below.
    </p>
</div>

@if (Model.postedMessage is not null)
{
    <div class="alert alert-info">@Model.postedMessage</div>
}

<form method="POST">
    <div class="row mb-3 w-75 mx-auto">
        <div class="col-6">
            <label for="input1" class="form-label">Name</label>
            <input type="text" class="form-control" id="input1" asp-for="contactMeModel.name" placeholder="Name">
            <span asp-validation-for="contactMeModel.name" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label for="input2" class="form-label">Email</label>
            <input type="email" class="form-control" id="input2" aria-describedby="emailHelp" asp-for="contactMeModel.email" placeholder="Email">
            <span asp-validation-for="contactMeModel.email" class="text-danger"></span>

                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
    </div>
    <div class="form-outline mb-3 w-75 mx-auto">
        <label for="input3" class="form-label">Subject</label>
        <input type="text" class="form-control" id="input3" asp-for="contactMeModel.subject" placeholder="Subject">
        <span asp-validation-for="contactMeModel.subject" class="text-danger"></span>

    </div>
    <div class="form-outline mb-5 w-75 mx-auto">
        <label class="form-label" for="textAreaContact">Message</label>
        <textarea class="form-control" id="textAreaContact" rows="7" asp-for="contactMeModel.message" placeholder="Message"></textarea>
        <span asp-validation-for="contactMeModel.message" class="text-danger"></span>
    </div>
    <div class="w-75 mx-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@* allow for client-side validation *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



@* <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast fade show" role="alert" v-show="showSuccessToast">
        <div class="toast-header">
            <strong class="me-auto"><i class="bi-globe"></i>SUCCESS</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            <p>Thank you! Your message has been sent!</p>
        </div>
    </div>

    <div class="toast fade show" role="alert" v-show="showErrorToast">
        <div class="toast-header">
            <strong class="me-auto">ERROR</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            <p>You already submitted. Please wait a moment before trying again.</p>
        </div>
    </div>

    <div class="toast fade show" role="alert" v-show="showFailToPostToast">
        <div class="toast-header">
            <strong class="me-auto">FAILURE</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            <p>Your message could not be sent. Please try again later :/</p>
        </div>
    </div>
</div> *@


