@page
@{
    ViewData["title"] = "Post Error";
}

<h2>Sorry, I was unable process your request. Please ensure that all fields have been filled out.</h2>
<a asp-page="/contact/Contact" class="btn btn-primary">Back to contact form.</a>
