@page
@model Personal_Portfolio_Razor.Pages.AboutMeModel
@{
}
<div class="text-center">
        <h2>Greetings!</h2>
        <hr/>
        <p>
        I am a passionate software guy trying to live his best life. I have both a bachelor's and a master's in computer science from the University of Central Florida. I currently work as a .Net developer at FWC (Florida Fish and Wildlife Commission) using Razor pages, SQL server, entity framework, and Azure Devops. My productive spare-time hobbies include full-stack development on web, mobile, and game applications.
        </p>

    </div>
