@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    @* System.Console.WriteLine("hello there"); *@
}

@* <div class="text-center">
    <h1 class="display-4">Welcome @Model.myName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-sm-12 text-center">
        <img id="profilechild" class="w-75 rounded-circle" src="https://raw.githubusercontent.com/leozhang1/leo_personal_website/main_laptop/src/photos/IMG_9713.jpeg" alt="Avatar">
        <p>Great Falls Park in Maryland.</p>
      </div>
      <div class="col-lg-5 col-sm-12 text-center">
        <p id="introchild" class="text-wrap">
          Hello there!
          My name is Leo Zhang.
          I am currently seeking a job/internship for
          anything related to computer programming and
          problem solving.
        </p>
        <button id="resumeButton"
            class="btn btn-primary rounded-pill"
            data-mdb-ripple-color="dark"
            onclick="window.open('https://drive.google.com/file/d/1k-oVcUm6TwIEY6b8X_qwoeKipRF14SzW/view?usp=sharing','_blank')"
        >resume</button>
      </div>
    </div>
</div>
