@page
@model Personal_Portfolio_Razor.Pages.BlogsModel
@{
    @* System.Console.WriteLine($"initial bool value: {Model.isNewest}"); *@
}

<div class="text-center">
    <h2>All Blogs</h2>
</div>
<hr/>
<div class="text-center">
    <a class="btn btn-primary" asp-route-sortOrder="@Model.blogSort">Sort by @Model.blogSort</a>
</div>
@foreach (var blog in Model.blogs)
{
    <partial name="_BlogCardPartialView" model="@blog" />
}
